
.add-post-content {
    padding-top: 20px;
}

.new-post-title{
    color: black;
    justify-content: center !important;
}


.post-title{
    color: black;
    justify-content: center;
    padding-bottom: 20px;
}

.form-group{
    padding-top: 20px;
}
  
